[submodule "axxegro"]
	path = axxegro
	url = https://github.com/311Volt/axxegro.git
[submodule "reflect"]
	path = reflect
	url = https://github.com/qlibs/reflect
[submodule "mph"]
	path = mph
	url = https://github.com/qlibs/mph
